.body{
    margin-left: 20px;
}

.chat{
    background-color: aliceblue;
    text-align: center ;
    padding: 20px;
    border: 16px;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}

.time{
    text-align: end;
}