<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adding new username</title>
</head>
<body>
    <form method="post" action="/user">
     
        <input type="text" placeholder="username" name="username"> 
        <input type="text" placeholder="email" name="email">
        <input type="password" placeholder="password" name="password">

        <button>submit</button>
     

    </form>
</body>
</html>