<!--if we have to use some sub templates in all ejs files then we dont need to write them separately in each file..!!-->
<!-- what we can do is we can create a file containing all the content inside it and then we just include that file there-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>