<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parsing data to ejs</title>
</head>
<body>
    <h1>this is home 2 page</h1>

    <h2>number on dice is : <%= num %></h2>   <!-- num is the variable taken from index.js file and passed in ejs tag to print its value-->
</body>
</html>