<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <h3><%= 1+ 2 %></h3>  <!--using interpolation.. just as template literals in js..!! back tick syntx-->
    <!-- line 9 will print the value of 1+2, i.e 3-->
    <!-- here the output of ejs tags is string-->
    <h3><%= "mehul bansal".toUpperCase() %></h3>  <!-- using js in html..!!-->
    <h3><%= ["hello","hii","namaste"][0] %></h3>  <!--it will give the value of 0th index of array-->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint perferendis maxime commodi et consequatur eligendi voluptates! Aspernatur, maxime sit pariatur voluptatem corrupti officiis nisi error, adipisci alias repellendus neque.</p>
    <button>click me!</button>
</body>
</html>