<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Home page</title>
</head> -->
<%- include("includes/head.ejs"); %>

<body>
    <h1>welcome to account of @ <%= username %></h1>
    <button>follow</button>
    <button>message</button>
<!--using for loop in ejs-->
    <h3>followers</h3>
    <% for(let i=0;i<followers.length;i++){ %>
        <h2><%= followers[i] %></h2>
        <% } %>  
</body>
</html>